<div class="card">
    <div class="linha">
        <h3 class="card-title">{title}</h3>
        <div>
            <form action="/update/{id}" method="get">
                <input type="image" src="../../img/edit.png" class="icon">
            </form>
            <form action="/delete/{id}" method="get">
                <input type="image" src="../../img/trash.png" class="icon">
            </form>
        </div>
    </div>
    <div class="card-content">
        <p>
            {details}
        </p>
    </div>
</div>